html,body{
	height: 100%;
	scroll-behavior: smooth;
	background: #f6f6f6;

}
h3{
	text-align: center;
	padding-bottom: 60px;
	font-size: 35px;
	font-family: Century Gothic;
}
.cover{
/*	background: black;
*/	background: url('breakfree.jpg') right no-repeat;
	background-position: 0% 50%;


	background-size: cover;
	height: 100%;
	/*display: table;*/
	width: 100%;
	background-attachment: fixed;
	transition: background 1s linear;
	

}
.quote{
	/*display: table-cell;*/
	color: black;
	text-align: left;
	vertical-align: middle;
	font-family: Century Gothic;
	font-weight: bolder;
	padding-left: 10%;
	position: absolute;
	top: 30%;
}
.navbar{
	/*padding: 30px;*/
	//box-sizing: border-box;
}
 .tagline{
 	display: block;
 	/*margin-left: 30px;*/
 	color: white;
 	font-weight: lighter;
 	margin-top: -10px;
 	font-size: 13px;
 }
.quote h1{

	font-size: 80px;
	letter-spacing: -3px;
}
.quote h3{
	font-size: 40px;
}
 .btn{
	width: 320px;
	background: #f6f6f6;
	border-bottom: solid 3px white;
	font-family: Century Gothic;
	color: black;
	font-weight: bold;
	border: none;

}
#team{
/*	background: url('team.jpeg');
*/
	padding-top: 50px;
	background: #f6f6f6;
	text-align: center;
}

#team p{
	text-align: center;
	color: grey;
}

#email{
	height: 50px;
	width: 200px;
}
#signup{
	height: 50px;
	background: black;
	color: white;
	border: solid 1px white;
	width: 150px;
	margin-left: 5px;	
}
#signup:hover{
	background: white;
	color: black;
	font-weight: bold;
}
nav.bg-light{
	background-color: rgba(0,0,0,0.1)!important;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
	color: white;
	//font-size: 18px;
	font-family: Century Gothic;
	
}
.navbar-light .navbar-brand{

}
.navbar-light .navbar-brand:visited, .navbar-light .navbar-nav .nav-link:visited{
	color: white;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover{
	color: yellow;
}
.navbar-light .navbar-brand:active, .navbar-light .navbar-nav .nav-link:active{
	color: white!;
}
.navbar-light .navbar-toggler-icon{
	background: url(TOGGLE.png);
}

section{
	padding: 70px;
	display: table;
	width: 100%;

}
#whyus{
	background: #f6f6f6;

}
#whyus h4{
	font-family: Century Gothic;
	font-size: 30px;

}
#gallery{
	background: url('gall.jpeg') center no-repeat;
	background-size: cover;
	/*background: #f6f6f6;*/
	background-attachment: fixed;
}
#gallery .container .row{
	text-align: center;
}
.col-md-4{
	padding: 30px;
}
h5{
	color: #222;
	font-family: Century Gothic;
	font-weight: bold;
}
#subscribe{
	padding: 0;
	width: 100%;
	background: black;
	color: white;
	height: 300px;
/*	border: solid 4px white ;
*/	box-sizing: border-box;
	text-align: center;
}
#subscribe h3{
	padding-top: 100px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-family: corbel;
	font-weight: bold;
	font-size: 24px;
	
}

#contact{
	padding-top: 100px;
	text-align: center;
	font-family: corbel;
}
#contact .fa{
	color: black;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
}
#contact .fa-facebook:hover{
	color: #3b5998;
}
#contact .fa-twitter:hover{
	color: #1da1f2;
}
#contact .fa-google-plus:hover{
	color: #d34836;
}
#contact .fa-linkedin:hover{
	color: #0077b5;
}
#contact .fa-instagram:hover{
	color: #c32aa3;
}
#footer{
	padding:20px;
	text-align: center;
	color: #777;
	font-size: 13px;
}
.navbar-default{
	background-color: rgba(255,255,255,0.2);
	border: none;
}
a:link{
	text-decoration: none;
}
/*.tableCell{
	padding-top: 50px;
	display: table-cell;
	vertical-align: middle;
}
#about h1{
	text-align: center;
	color: white;
}
#about p{
	text-align: left;
	vertical-align: middle;
	padding: 30px;
	color: white;
}
#product{
	background: url('product.jpg') center;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;

	text-align: center;
	color: white;

}

#product p{
	padding: 20px;
	color: white;
	d
}
#media{
	//display: table;
	//width: 100%;
	background: url('what.jpeg') bottom no-repeat;
	background-size: cover;

}

.media-media{
	//display: table-cell;
	text-align: center;
	width: 105%;
	margin:0 auto;
}

#contact{
	background: url('img1.jpeg') center no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-attachment: fixed;
}

input,textarea,button{
	margin: 10px;
}
footer{
	text-align: center;
	padding: 20px;
	color: white;
	background: #000;
}
footer span{
	color: #f6f6f6;
}
.col-md-6{
	text-align: center;
}
.fstyle{
	display: block;
	color: orange;
}
.collapse, .navbar-collapse{
	position: relative;
}
.collapse .navbaroptions, .navbar-collapse .navbaroptions{
	//padding-top:40px; 
	position: absolute;
	right: 0;
}
*/
@media only screen and (max-width: 560px){
	/*.cover{
		background-size: 100% 100%;
	}*/
	.quote h1{
		font-size: 50px;
	}
	.quote h3{
	font-size: 30px;
	}
	
}
@media only screen and (max-width: 777px){
	.nav2{
		display: none;
	}
}
@media only screen and (min-width: 777px){
	nav{
		display: none;
	}
}
.preloader{
	position: fixed;
	top: 0;
	left:0;
	height: 100%;
	width:100%;
/*	background: #000;
*/	transition: 1s;
}
.preloader:before{
	content: '';
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
}
.preloader.complete:before{
	left: -50%;
}
.preloader:after{
	content: '';
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
}
.preloader.complete:after{
	right: -50%;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border: solid 3px #fff;
	animation: animate 2s linear;
	animation-iteration-count: infinite;
	z-index: 10000;

}
.loader:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	animation:animatebg 2s linear ;
	animation-iteration-count: infinite;
}
.preloader.complete{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
@keyframes animate{
	0%
	{
		transform: translate(-50%,-50%) rotate(0deg); 
	}
	25%
	{
		transform: translate(-50%,-50%) rotate(180deg); 
	}
	50%
	{
		transform: translate(-50%,-50%) rotate(180deg); 
	}
	105%
	{
		transform: translate(-50%,-50%) rotate(360deg); 
	}
	100%
	{
		transform: translate(-50%,-50%) rotate(360deg); 
	}
}
@keyframes animatebg{
	0%
	{
		height: 0;
	}
	25%
	{
		height: 0;	 
	}
	50%
	{
		 height: 100%;
	}
	105%
	{
		 height: 0;
	}
	100%
	{
		 height: 0;
	}
}


.container{
	/*background: #fff;*/
	padding-bottom: 50px;
/*	border-bottom: solid 1px #bbb;
*/}
.container h1{
	text-align: center;

}
#team .container{
	border-bottom: none;
}
.card{
  position: relative;
  height: 410px;
  width: 260px;
  transform-style: preserve-3d;
  perspective: 400px;
  transition: 0.5s;
  margin: 40px auto;
  border: solid 6px grey;
/*  box-sizing: border-box;
*/  border-radius: 5px;


  

}
.card .front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
  


}
.card:hover .front{
  transform: rotateX(-180deg);
}
.card .back{
  position: absolute;
  
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
    


}
.card .back:before{
  content: '';
  position: absolute;
/*  top: 20px;
*/  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
}
.card:hover .back{
  transform: rotateX(0deg);
}
.card .back .details{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-family: Century Gothic;
  margin: 0;

}
.card .back .details h2{
  color: #fff;
}
.card .back .details h2 span{
  font-size: 12px;
  margin-top: 0px;
  color: white;
}

.socialIcons a {
/*  display: inline-block;
*/  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  background: #262626;
  color: #fff;
  border-radius: 50%;
}
.socialIcons a i.fa{
  line-height: 20px;
}
.socialIcons a:hover{
  background: #e91e63;
}

.quote h1 span{
	animation: lighting 0.2s linear;
	animation-iteration-count: 20;
	animation-fill-mode: forwards;
}
@keyframes lighting{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0.6;
	}
}

@media only screen and (min-width: 1005px){
	
	nav.bg-light{
		display: none;
	}


}
@media only screen and (max-width: 568px){
	nav.bg-light{
		display: flex;
	}
	.nav2{
		display: none;
	}
}
.navitemslist{
	text-align: center;
}
.navitems2{
	color: black;
	opacity: 0.9;
	/*position: absolute;*/
	font-size: 20px;
	font-family: coves;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
/*#contact{
	color: #f6f6f6;
	opacity: 0.8;
	position: absolute;
	font-size: 20px;
	right: 10%;
	top: 10%;

}*/
@font-face{
	font-family: coves;
	src: url(Coves-Bold.otf) format("opentype");
}
@font-face{
	font-family: coves2;
	src: url(Coves Light.otf) format("opentype");
}
/*#home2{
	/*position: absolute;*/
	/*left: 35%;*/
	/*top: 10%;
}*/
/*#about2{*/
	/*position: absolute;*/
	/*left: 45%;*/
	/*top: 10%;
}
#gallery{*/
	/*position: absolute;*/
	/*left: 55%;*/
/*	top: 10%;
*/
/*#contact2{
*/	/*position: absolute;*/
	/*left: 65%;*/
	/*top: 10%;
}*/
.company{
	text-align: center;
}
#company{
	font-size: 40px;
	color: white;
	margin: 0 auto;
	text-align: center;
	font-family: coves;
	color: black;
}